@model CET322.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Ticket Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">Category</dt>
        <dd class="col-sm-10">
            @Model.Category?.Name
        </dd>

        <dt class="col-sm-2">Company</dt>
        <dd class="col-sm-10">
            @Model.Company?.Name
        </dd>

        <dt class="col-sm-2">Owner</dt>
        <dd class="col-sm-10">
            @Model.Owner?.Email
        </dd>

        <dt class="col-sm-2">Assigned To</dt>
        <dd class="col-sm-10">
            @Model.AssignedTo?.Email
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt class="col-sm-2">Stage</dt>
        <dd class="col-sm-10">
            @Model.Stage?.Name
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back</a>
</div>

<a asp-controller="Comments" asp-action="Index" asp-route-ticketId="@Model.Id" class="btn btn-outline-primary mt-3">
    Yorumlar
</a>

